:root 
{
  --mainColor: #009688;
  --mainPadding: 10px;
}
div
{
  color: var(--mainColor,red);
  border: 1px solid ;
  border-color: var(--mainColor,black);
  padding: var(--mainPadding,10px);
  margin: 10px;
}