*
{
  box-sizing: border-box;
}
.parent
{
  width: 600px;
  height: 300px;
  margin: auto;
  background-color: #eee;
  display: flex;
  flex-flow:row wrap ;
  /* justify-content: center;
  align-items: center;
 align-content:space-between ; */
  justify-content: space-evenly;
  align-items: center;
  align-content:center ;

}
.parent div
{
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: red;
  padding: 20px;
  width:  calc(94%/3);
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 13% ;
  /* margin-top: 1%;
  margin-bottom: 1%; */
  margin-bottom: 13%;
 
}