.grid
{
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,auto);
  gap: 10px;
  align-content: space-between;
}
.grid div
{
  background-color: rgb(127, 127, 190);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
 display: flex;
 align-items: center;
 justify-content: center;
}
