 div{
  width: 100px;
  height: 100px;
}
.green{
  background-color: green;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 3;
}
.blue
{
  background-color: blue;
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 2;
}
.red
{
  background-color: red;
  position: absolute;
  top :60px;
  left: 60px;
  z-index: 4;

}
.black
{
  background-color: black;
  top: 40px;
  left: 20px;
  position: absolute;
  z-index: 1;
} 
