
table
{
  background-color: #dfdfdf;
  border-bottom: 2px solid green;
  padding: 10px;
  margin: 10px;
  color: white;
  position: absolute;
  left:25%;
  border-spacing: 1px;
}
td
{
  border: 1px solid #a7a3a3;
  padding: 15px;
  margin: 10px;
  position: relative;
}
thead
{  border: 1px solid #a7a3a3;
   background-color: rgb(51, 50, 50);
  text-align: center;
}
span
{ position: absolute;
  background: red;
  top: auto;
  left: 35px;


}
div{
  position: absolute;
  background: blue;
  top: auto;
  left: 2px;
}